/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Button:hoover{
	-fx-background-color: grey;
}

.menuPane{
	-fx-background-color: white;
}

.menuButton{
	-fx-background-color: white;
}

.textPane{
	-fx-text-fill: red;
}

