/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Button:hoover{
	-fx-background-color: grey;
}

.menuPane{
	-fx-background-color: white;
}

.menuButton{
	-fx-background-color: white;
}

.textPane{
	-fx-background-color: #c1c1c1;
}
#title{
	-fx-font-size: 30px;
	-fx-font-family: "Gill Sans MT", bold;
	-fx-fill: #09195e;
		
}

#content{
	-fx-font-family: "Gill Sans MT";
	-fx-font-size: 18px;
	-fx-fill: #233689;
}

