/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.menuPane{
	-fx-background-color: white;
}

.menuButton{
	-fx-background-color: white;
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 50px;
	-fx-fill: #729eea;
}
.menuButtonSmall{
	-fx-background-color: white;
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 40px;
	-fx-text-fill: #729eea;
}
.smallButton{
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-text-fill: #729eea;
}

.textPane{
	/*-fx-background-color: #c1c1c1;*/
	-fx-border-color: #8c8c8c;
}

/*.importantPane{*/
	/*-fx-border-color: #cc0000;*/
	/*-fx-border-width: 3px;*/
	/*-fx-background-color: white;*/
	/*!*-fx-opacity: 0.5;*!*/

/*}*/
#title{
	-fx-font-size: 30px;
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	/*-fx-fill: #09195e;*/
		
}

#content{
	-fx-font-family: "Gill Sans MT";
	-fx-font-size: 18px;
	/*-fx-fill: #233689;*/
}
.parentButton{
	-fx-background-color: white;
	-fx-font-family: "Gill Sans MT";
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-fill: #729eea;
}
#adminText {
	-fx-font-size: 25px;
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-fill: #729eea;
}
.labelMain {
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 60px;
	-fx-text-fill: #729eea;
}
.labelSmall {
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: #729eea;
}
.choice-box .menu-item {
	-fx-pref-width: 472px;
}
.choice-box .label{
	-fx-font-family: "Gill Sans MT";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-fill: #729eea;
	
}

#loginButton {
	-fx-border-color: #e0e0e0;
	-fx-fill: #e0e0e0;
	-fx-background-color: white;
}

.resetPwd{
    -fx-font-family: "Gill Sans MT";
    -fx-fill: #767676;
	-fx-background-color: white;
}


